F2 la Juan
F#2 wa Xander
G2 vo Maged
Ab2 de Xander
A2 wo Yuri
Bb2 na Yuri
B2 ni Diego
C3 ra Diego
C#3 bo Luca
D3 mu Paulina
Eb3 je Satu
E3 ne Satu
F3 le Laura
F#3 li Ellen
G3 li Alice
Ab3 ni Damayanti
A3 wu Luciana
Bb3 gi Sara
B3 wi Veena
C4 mi Luciana
C#4 no Yuna
D4 li Yuna
Eb4 nu Melina
E4 te Yuna
F4 pi Yuna
